.header-top {
	background: #ffd500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

.header-top>.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-bottom {
	background-color: #dedede;
	padding: 10px 0;
}